@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 

body{
    font-family: 'Poppins', sans-serif;
}

.produtos{
    margin: 20px;
}

.section-image{
    background-image: url(/img/4.jpg);
    padding: 200px;
    background-position: center; 
    background-size: cover; 
}

.produtos-essenciais{
    margin: 30px;
}

.pharrel-images{
    margin: 5%;
}

.pharrel-text{
    color: #3D8FA9;
    font-weight: bolder;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.tyler-images{
    margin: 5%;
}

.tyler-text{
    color: #3D8FA9;
    font-weight: bolder;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.sza{
    margin: 5%;
}

.medica-image{
    display: grid;
    padding: 2%;
    justify-content: center;
}

.text-medica{
    padding: 5%;
}